*, *:before, *:after {
	box-sizing: inherit;
}
body {
	height: 200px;
	width: 300x;
	margin-top: 20px;
}

h1 {
	font-size: 26px;
	font-style: normal;
	font-weight: lighter;
	font-family: sans-serif;
}

img {
	margin-top: 15px;
	width: 50%;
	max-height: 200px;
	max-width: 300px;
	display: block;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.hidden {
	display: none;
}